// Sizes
$max-width: 1000px;
$footerheight: 50px;

// Colors
$gray: #555;
$hotpink: #dc2365;
$navy: #162d62;

$text: $gray;
$links: $hotpink;
$hover: $navy;

$bg: #FFF;

// Fonts
$main: sans-serif;

// Borders
$border: 1px solid $navy;

// Media Queries
$m: 740px;
$s: 500px;