@include sticky-footer( $footerheight, '#page','#main','#footer'); 

body {
    background: $bg;
    margin: 0;
    padding: 0;
}
#main {
    width: 92%;
    max-width: $max-width;
    margin: 0 auto;
}

div {
    padding: 0 15px;
    @include clearfix;
}

