body, input, textarea {
    color: $text;
    font-family: $main;
    font-size: 14px;
    line-height: 1.625;
}
a {
    color: $links;
    text-decoration: none;
    span {
        font-style: italic;
    }
    &.active,
    &:hover,
    &:focus {
        color: $hover;
    }
}